body{
	margin:0;
	font-family:Verdana, sans-serif;
	font-size:16px;
    background-image: url('../Immagini/sfondoBackground.jpeg');
    background-size:100px 100px;
    background-repeat: repeat;
    min-height: 500px;
}

.immagini{
    max-height: 100%;
    border-radius: 20px;
}

