body{
	margin:0;
	font-family:Verdana, sans-serif;
	font-size:16px;
    background-image: url('../Immagini/thelamBg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
}