body{
	margin:0;
}

ol{	
	font-size:18px;
	text-align: center;
  	list-style-position: inside;
}

a{
	color:black;
}



li{	
	padding-right:15px;
	color:#35515e
}

.barra{
	position: -webki-sticky;
	position:sticky;
	background-color:#A16BFF;
	min-width:100%;
	min-height:50px;
	text-align: center;
	top:0;
	z-index:1;
	border:1px;
	border-style:solid;
	font-size:20px;
	overflow:hidden;

}

.articolibarra{
	float:left;
	padding-left:10px;
	background-color:inherit;
}

.articolibarra:hower{
	transform: scale(1.2);
}

.sezione{
	max-width:97%;
	margin:auto;
	height:auto;
	overflow:auto;
	background-color:pink;
	border-radius:20px;
}

.mezzo{
	min-width:48%;
	max-width:48%;
	min-height:100%;
	display:inline;
	padding:1px 10px 1px 10px;
}

.spazio{
	min-height:40px;
}

.spazioad{
	max-width:80%;
	margin:auto;
	height:auto;
	overflow:auto;
	background-color:pink;
	max-height:100px;
	min-height:150px;
	min-width:80%;
}

.titoletti{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	color:#D263FF;
}

.testogenerico{
	padding-left:10px;
	padding-right:10px;
	color:#35515e;
	font-size:18px;
}
